body {
	text-align: center;
}
h1 {
	font-family: sans-serif;
	font-size: 3em;
}

a:link {
	text-decoration: none;
	color: black;
}

@media only screen and (max-width:600px) {
	.main-nav {
		font-size: 1em;
		padding: 0;
	}
	h1 {
		font-size: 2em;
	}
}

form {
	display: inline-block;

}

.center input {
	display: block;
	margin-bottom: 1em;
	margin-left: 2em;
	border: 1px solid;
	text-align: center;
}

.center label{
	float: center;
	margin-left: 2em;
	margin-right: 0.5em;

}

.top{
	display: flex;
	height: 10vh;
}

form{
	display: inline-block;
}