body{
    margin: 0;
    background-color: #ACFAD8;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px;
    background-color: #FBFBFB;
}

#main-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-nav li{
    list-style: none;
    padding: 0 20px;
}

#main-nav li a{
    text-decoration: none;
    font: 25px sans-serif;
}


#items{
    display: flex;
    flex-direction: row;
}

#items .product{
    width:200px ;
    text-align: ;
    padding: 10px 15px;

}

#items img{
    width: 200px;
    height: 200px;
}