body{
    margin: 0 auto;
    background-color: #ACFAD8;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px;
    background-color: #FBFBFB;
}

#header img{
    width: 200px;
}

#main-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-nav li{
    list-style: none;
    padding: 0 20px;
}

#main-nav li a{
    text-decoration: none;
    font: 18px sans-serif;
}

/* Style for index.html */

#items{
    display: flex;
    flex-direction: row;
}

#items .product{
    width:200px ;
    text-align: ;
    padding: 10px 15px;
    border: 1px solid green;
    border-radius: 10px;
    cursor: pointer;
}

#items .product:hover{
    background-color: orange;
}

#items img{
    width: 200px;
    height: 200px;
}

/* Style fot the product.html */

#main .main-child{
    display: flex;
    flex-direction: row;
}

#main .product{
    width:200px ;
    text-align: ;
    padding: 10px 15px;
    border: 1px solid green;
    border-radius: 10px;
    cursor: pointer;
}

#main .product:hover{
    background-color: orange;
}

#main img{
    width: 200px;
    height: 200px;
}
